name: 'JavaScript - Neo'
scopeName: 'source.js'
type: 'tree-sitter'
parser: 'tree-sitter-javascript'

fileTypes: ['js', 'jsx']

injectionRegex: '^js$|^JS$|javascript|JavaScript'

firstLineRegex: [
  # shebang line
  '^#!.*\\b(node)\\r?\\n'

  # vim modeline
  'vim\\b.*\\bset\\b.*\\b(filetype|ft|syntax)=(js|javascript)'
]

folds: [
  {
    type: 'comment'
  }
  {
    type: ['jsx_element', 'template_string'],
    start: {index: 0}
    end: {index: -1}
  }
  {
    type: 'jsx_self_closing_element'
    start: {index: 1}
    end: {index: -2}
  }
  {
    start: {index: 0, type: '{'}
    end: {index: -1, type: '}'}
  }
  {
    start: {index: 0, type: '['}
    end: {index: -1, type: ']'}
  }
  {
    start: {index: 0, type: '('}
    end: {index: -1, type: ')'}
  }
  {
    type: ['switch_case', 'switch_default']
    start: {index: 0}
    end: {type: 'break_statement', index: -1}
  }
  {
    type: ['switch_case', 'switch_default']
    start: {index: 0}
  }
]

comments:
  start: '// '

scopes:
  '"if"': 'keyword.control.if'
  '"this"': 'keyword.control.this'
